backend/data/Bookmarks
backend/data/examples.txt
backend/data/vocabularies.csv
backend/__pycache__
backend/.bash_history
backend/.python_history
backend/.DS_Store
backend/.cache/*
backend/src/*.json
backend/config.ini
.cache/pip
.env
.DS_Store