backend/src/*.txt
backend/src/result/*.txt
backend/src/*.csv
backend/src/Bookmarks
backend/__pycache__
backend/.bash_history
backend/.python_history
backend/.DS_Store
backend/.cache/*
backend/src/*.json
backend/config.ini
backend/controller/__pycache__
backend/interfaces/__pycache__
backend/models/__pycache__
backend/src/__pycache__
backend/templates/__pycache__
backend/views/__pycache__
.cache/pip
.env
.DS_Store